*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-center {
    0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
}
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
@keyframes slide-in-bck-center {
    0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
}
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
}
}

.btn{
display: block;
background-color: #F0F3BD;
text-decoration: none;
color: black;
font-weight: bold;
border: outset 0.15rem black;
margin: 1rem 1rem 1rem 10.5rem;
padding: 1rem;
text-align: center;
max-width: 15rem;
}

.btn:hover{
    color: #028090;
}

.btn1{
    background-color: #0eb1c7;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem 3rem 2rem 3rem;
    color: black;
}   


.btn1:hover{
    background-color: #F0F3BD;
    border: black solid 0.1rem;
}

.btn2{
display: inline-block;
background-color: #F0F3BD;
color: black;
font-weight: bold;
text-decoration: none;
padding: 0.5rem;
border: solid 0.1rem black;
margin: 0.5rem 1rem 0.5rem 1rem;
}

.btn2:hover{
    padding: 1rem;
}

.header{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
    padding: 2rem;
}

.header--gradient{
    background: rgb(2,128,144);
    background: -moz-linear-gradient(0deg, rgba(2,128,144,1) 30%, rgba(0,168,150,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(2,128,144,1) 30%, rgba(0,168,150,1) 70%);
    background: linear-gradient(0deg, rgba(2,128,144,1) 30%, rgba(0,168,150,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#028090",endColorstr="#00a896",GradientType=1);
}

.header__logo{
    max-width: 150px;
    margin-left: 3rem;
}

.header__item{
    display: inline-block;
    margin-left: 0.5rem;
    padding: 1rem;
    border: outset 0.15rem black;
    background-color: #F0F3BD;
    font-weight: bold;
} 

.header__anchor{
    text-decoration: none;
    color:black;
}

.header__anchor:hover{
    color: #028090;
}

.hero{
    background-image: url(../../img/header.jpg);
    color: #F0F3BD;
    height: 85vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__wrapper{
position: absolute;
}

.hero__heading{
    font-size: 3rem;
}

.hero__slogan{
    display:inline-block;
    font-size: 1.5rem;
    margin: 1rem 0rem 1rem 0rem;
}

.hero__redes{
    width: 3rem;
    height: 3rem;
}

.dest__heading{
    font-size: 1.5rem;
    background-color: #0eb1c7;
    padding: 1.5rem;
    text-align: center;
}

.dest{
    background-color:#a2e5ff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
}

.destcard{
    display: flex;
    margin-top: 2rem;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destcard__img{
width: 300px;
height: 300px;
border: outset 0.2rem #0eb1c7;
}

.destcard__titulo{
margin-top: 1rem;
}

.destcard__fecha{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.pie{
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.pie--gradient{
    background: rgb(0,168,150);
    background: -moz-linear-gradient(0deg, rgba(0,168,150,1) 30%, rgba(2,128,144,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(0,168,150,1) 30%, rgba(2,128,144,1) 70%);
    background: linear-gradient(0deg, rgba(0,168,150,1) 30%, rgba(2,128,144,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a896",endColorstr="#028090",GradientType=1);
}


.pie__1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pie__contacto{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.pie__titulo{
    padding: 0.5rem;

}

.pie__img{
    display: flex;
    max-width: 1rem;
}


.pie__dato{
padding: 0.5rem;
}


.line{
color: #028090;
}

.copy{
background-color:#F0F3BD;
}

.copy__text{
    margin-left: 0.5rem;
    color: black;
    font-size: 1rem;
}


/*NOSOTROS*/

.encabezado{
    height: 250px;
}

.encabezado__img{
    object-fit: cover;
    width:100%;
    height:100%;   
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eceecb;
}   

.info__titulo{
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
}

.info__sub{
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    padding: 1rem;
    font-size: 1.5rem;
}

.info__parrafo{
    text-align: justify;
    padding: 1rem;
    margin: 1rem 2rem;
}

.info__video{
width: 700px;
height: 400px;
border: 0.2rem solid #028090;
margin: 3rem 0rem;
}


/*DESTINOS*/

.destinos__titulo{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #eceecb;
    background-image: url(../../img/destinos3.jpg);
}

.destinos__sub{
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #eceecb;
}

.destinos__nac{
    display: grid;
    background-color: #eceecb;
    grid-template-columns: repeat(5, 275px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.destinos__cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0rem;
}

.destinos__img{
    width: 220px;
    height: 220px;
    border:0.1rem solid #0eb1c7;
    border-radius:150px
}

.destinos__img:hover{
    border:0.2rem solid black;
}

.destinos__nombre{
    margin: 1rem 0rem;
    font-size: 1rem;
}

.destinos__int{
    display: grid;
    grid-template-columns: repeat(5, 275px);
    background-color: #eceecb;
    justify-content: center;
}



/*PAQUETES*/

.paquetes__titulo{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #eceecb;
    background-image: url(../../img/destinos3.jpg);
}

.paquetes__sub{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:#eceecb;
}

.paquetes__nac{
    display: grid;
    background-color: #eceecb;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.paquetes__cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 280px;
    margin: 2rem 1rem;
    border: 0.1rem solid #0eb1c7;
}

.paquetes__cards:hover{
    border: 0.1rem solid black;
}

.paquetes__img{
    margin-top: 1rem;
    width: 240px;
    height: 280px;
}

.paquetes__nombre{
    padding: 1rem;
}

.paquetes__fecha{
    padding: 0.5rem;
    font-weight: bold;
}

.paquetes__precio{
    padding: 0.5rem;
}

.paquetes__int{
    display: grid;
    background-color: #eceecb;
    grid-template-columns: repeat(5, 300px);
    justify-content: center;
}


/*FINANCIACIÓN*/

.financiacion{
    display: flex;
    flex-direction: column;
    background-color: #eceecb;
}

.fina{
    justify-content: center;
    text-align: center;
}

.fina__titulo{
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #eceecb;
    background-image: url(../../img/destinos3.jpg);
}

.fina__sub{
    font-weight: lighter;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.opcion1{
    padding: 1rem;
    margin: 1rem 4rem;
}

.opcion1__titulo{
    margin: 1rem 0rem;
}

.opcion2__img{
    max-width: 500px;
    padding: 1rem;
    margin-left: 27rem;
}

.opcion3__img{
    height: 4rem;
    width: 8rem;
    margin-top:2rem;
    margin-right: 0.5rem;
    border-radius: 5%;
}

/*CONTACTO*/

.cont__titulo{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #eceecb;
    background-image: url(../../img/destinos3.jpg);
}

.cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eceecb;
}

.cont__1{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-top: 2rem;
    margin-left: 15rem;

}

.cont__1--titulo{
    font-size: 1.5rem;
    margin: 2rem 2rem;
    color: #028090;
}

.cont__1--text{
    margin: 1rem 2rem;
}

.cont__2--titulo{
    font-size: 2rem;
}

.cont__2{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 8rem;
    margin-left: 5rem;
}

.form-tit{
    font-weight: bold;
    margin: 1rem 0rem;
}

.form-inp{
    width: 300px;
    height: 30px;
}

.form-inp1{
    width: 300px;
    height: 100px;
}

.form-inp2{
    width: 300px;
    height: 30px;
    margin: 0.5rem 0rem;
}

.conta{
    display: grid;
    grid-template-rows: 1fr;
}

.cont__3{
    display: flex;
    justify-content: center;
    background-color: #eceecb;
}

.cont__maps{
    margin: 3rem 5rem;
    width:1000px;
    height:300px;
}

/*mobile*/

@media screen and (max-width:320px) {

    
    .header{
        flex-direction: column;
        height: 400px;
        align-items: stretch;
    }    

    .header__list{
        display: flex;
        flex-direction: column;
    }

    .header__item{
        margin:0px;
        text-align: center;
        padding: 0.7rem;
    } 

    .header__logo{
        max-width: 100px;
        margin-left: 5rem;
    }

    .hero{
        display: flex;
        height: 500px;
    }

    .hero__wrapper{
        justify-content: center;
    }

    .hero__heading{
        font-size: 2.2rem;
    }

    .hero__slogan{
        font-size: 1.2rem;
    }

    .btn{
        display: block;
        margin: 2rem 5rem;
        padding: 0.5rem;  
        max-width: 10rem;  
    }
    
    .dest{
        display: flex;
        flex-direction: column;
    }

    .destcard{
        margin-top: 1rem;
    }

    .destcard__img{
        width: 256px;
        height: 256px;
    }

    .destcard__titulo{
        text-align: center;
    }

    .pie{
        display: flex;
        flex-direction: column;
        height: 500px;
    }

    .pie__1{
        padding:1.5rem;
    }

    .encabezado{
        height: 200px;
    }
    
    .info__titulo{
    font-size: 2rem;
    }
    
    .info__sub{
        font-size: 1rem;
        width: 320px;
    }
    
    .info__parrafo{
        font-size: 1rem;
    }
    
    .info__video{
        width: 225px;
        height: 175px;
    } 

    .destinos__nac{
        display: flex;
        flex-direction: column;
    }

    .destinos__int{
        display: flex;
        flex-direction: column;
    }
    
    .paquetes__nac{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paquetes__cards{
        max-width: 250px;
        max-height: 400px;
        margin-top: 0rem;
    }

    .paquetes__img{
        margin: 0rem 0rem;
    }

    .paquetes__int{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .fina__titulo{
        font-size: 1.5rem;
    }
    
    .fina__sub{
        font-size: 1rem;
    }
    
    .opcion1{
        padding: 0.5rem;
        margin: 1rem 1rem;
        text-align: justify;
    }
    
    .opcion1__titulo{
        margin: 1rem 0rem;
        text-align: center;
        font-size: 1rem;
    }
    
    .opcion2__img{
        max-width: 300px;
        margin-left: -1rem;
    }
    
    .opcion3__img{
        height: 3rem;
        width: 5rem;
        margin: 1.5rem 0rem 0rem 0.4rem;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
    }
    
    .cont__1{
    margin: 0rem 0rem;
    padding: 0rem;
    }
    
    .cont__1--titulo{
        font-size: 1.5rem;
        margin: 2rem 2rem;
        color: #028090;
    }
    
    .cont__2--titulo{
        font-size: 1.5rem;
        margin: 1rem 0rem;
    }
    
    .cont__2{
        padding: 2rem;
        margin-top: 0rem;
        margin-left: 0rem;
    }
    
    
    .form-inp{
        width: 200px;
        height: 20px;
    }
    
    .form-inp1{
        width: 200px;
        height: 100px;
    }
    
    .form-inp2{
        width: 200px;
        height: 20px;
    }
    
    .conta{
        display: flex;
        flex-direction: column;
    }
    
    .cont__maps{
        width: 250px;
        height: 150px;
    }
}
